<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style type="text/css">
    form{
    	margin: 20px;
    }
</style>
</head>
<body>

	<form action="insertar">
		<div class="form-group">
			<label for="nombre">Nombre:</label> <input type="text" name="nombre"
				class="form-control" id="nombre"  th:value="${persona.nombre}" />
		</div>

		<div class="form-group">
			<label for="apellidos">Apellidos:</label><input type="text"
				name="apellidos" class="form-control" id="apellidos"  th:value="${persona.apellidos}" />
		</div>
		<div class="form-group">
			<label for="edad">Edad:</label><input type="text" name="edad"  th:value="${persona.edad}"
				class="form-control" id="edad" />
		</div>
		<div class="form-group">
			<input type="submit" value="enviar" class="btn btn-primary" />
		</div>
	</form>

</body>
</html>